@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.hero__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../../../public/FoodBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
  background-attachment: fixed;
  @include flex-center;

  &__content {
    color: white;
    z-index: 1;
    text-align: center;

    h1 {
      @include font-size(3rem);

      font-weight: 800;
      margin-bottom: 1.5rem;
    }

    p {
      @include font-size(1.2rem);

      font-weight: 400;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
    }

    @include responsive-tablet {
      h1 {
        @include font-size(4.5rem);
      }

      p {
        @include font-size(1.5rem);
      }
    }
  }
}
