@mixin font-size($size) {
  font-size: $size;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin responsive-tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}
