@import "../../styles/mixins";

.recipeDetail {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;

  &__back {
    @include button-style;
    text-decoration: none;
    color: $white-color;
  }

  &__title {
    @include font-size(2.5rem);
    margin-bottom: $spacing-lg;
    color: $black-color;
    text-align: center;
  }

  &__content {
    @include flex-column;
    gap: 2rem;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    object-fit: cover;
    aspect-ratio: 16/9;
  }

  &__info {
    h2 {
      @include font-size(1.5rem);
      margin: $spacing-lg 0 $spacing-md;
      color: $black-color;
    }
  }

  &__place {
    background-color: $white-color;
    padding: $spacing-md;
    border-radius: $border-radius;
    margin-bottom: $spacing-lg;

    p {
      margin: $spacing-sm 0;
    }
  }

  &__ingredients {
    div {
      padding: $spacing-sm 0;
      border-bottom: 1px solid $border-color;
    }
  }

  &__instructions {
    p {
      line-height: 1.6;
      text-align: justify;
      white-space: break-spaces;
    }
  }
}
